* {
  padding: 0;
  margin: 0;
}

body{
    background-image: url('../.././img/main-fondo.jpg');
    background-size: cover;
  }

  .main{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }

mainantes{
  display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  height: 50.6rem;
}

  productos{
    width: 90%;
    margin: 50px auto;
    display: flex;
    flex-flow: row wrap;
    min-height: 700px;
    height: auto;
    align-content: flex-start;
  }